* {
  outline: none;
}

body {
  position: relative;
  display: block;
  background-color: $lightMain;

  &.body--hidden {
    overflow: hidden;
  }
}

.body__overlay {
  position: fixed;
  top: 214px;
  left: 0;
  z-index: 4;
  display: none;
  height: 100vh;
  width: 100vw;
  background: $brightLightMain;
  opacity: 0.3;
  transition: 0.5s;

  &--fixed {
    top: 78px;
  }

  &.active {
    display: block;
  }

  @media screen and (max-width: 1620px) {
    top: 186px;

    &--fixed {
      top: 74px;
    }
  }

  @media screen and (max-width: 768px) {
    top: 162px;

    &--fixed {
      top: 55px;
    }
  }
}

.wrapper {
  position: relative;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  min-height: 100vh;
  padding-top: 262px;

  @media screen and (max-width: 1620px) {
    padding-top: 165px;
  }
}

.main {
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  padding-top: 50px;

  @media screen and (max-width: 1620px) {
    padding-top: 20px;
  }
}

.container {
  position: relative;
  display: block;
  width: calc(100% - 80px);
  max-width: 1820px;
  margin: 0 auto;

  @media screen and (max-width: 768px) {
    width: calc(100% - 20px);
  }
}

.nowrap {
  white-space: nowrap;
}

.underline_link {
  position: relative;
  font-family: $light;
  color: #000000;
  text-decoration: none;

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    background-color: $darkMain;
  }

  &:hover {
    font-family: $medium;
  }
}

.call_btn {
  display: block;
  box-sizing: border-box;
  padding: 15px 10px 19px 10px;
  text-align: center;
  font-family: $semiBold;
  font-size: $smallText;
  text-decoration: none;
  color: $darkMain;
  background-color: $lineDarker;
  border-radius: 555px;
  transition: 0.5s;

  &:hover {
    color: $lightMain;
    background-color: $dark30;
  }
}

.personal_area {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  padding: 16px 34px;
  font-family: $semiBold;
  font-size: $smallText;
  text-decoration: none;
  color: $darkMain;
  border: 0.5px solid $darkMain;
  transition: 0.5s;

  svg {
    display: block;
    margin-left: auto;
  }

  &:hover {
    background-color: $brightLightMain;
    border-color: $brightLightMain;
  }

  @media screen and (max-width: 1000px) {
    svg {
      display: none;
    }

    span {
      text-align: center;
    }
  }
}

.catalog_btn {
  position: relative;
  z-index: 3;
  display: block;
  box-sizing: border-box;
  width: 100%;
  max-width: 405px;
  padding: 20px 60px 22px 50px;
  font-family: $bold;
  font-size: $bigText;
  text-decoration: none;
  color: $darkMain;
  background: $brightLightMain;
  border-radius: 555px;
  flex-shrink: 0;
  transition: 0.5s;

  &:after {
    content: '';
    position: absolute;
    right: 60px;
    top: 50%;
    display: block;
    height: 4px;
    width: 7px;
    margin-top: -2px;
    background: center / auto url(../img/arrow.svg) no-repeat;
  }

  &:hover {
    color: $lightMain;
    background-color: $darkMainColor;

    &:after {
      background-image: url(../img/lightArrow.svg);
    }
  }

  &--active {
    color: $lightMain;
    background: $darkMain;
    border-radius: 20px 20px 0px 0px;

    &:after {
      background-image: url(../img/lightArrow.svg);
      transform: rotate(180deg);
    }

    &:hover {
      background: $darkMain;
    }
  }

  @media screen and (max-width: 1620px) {
    max-width: 297px;
    padding: 16px 42px 14px 50px;
    font-size: $smallBigText;
  }

  @media screen and (max-width: 1000px) {
    max-width: 256px;
  }

  @media screen and (max-width: 768px) {
    width: calc(100% - 38px);
    max-width: none;
    padding: 13px 32px;
    font-size: $smallText;

    &:after {
      right: 26px;
    }
  }
}

.search {
  &__block {
    position: relative;
    display: block;
    min-height: 66px;
    width: 35%;
    margin: 0 68px;

    &--active {
      z-index: 200;
      background-color: $lightMain;

      @media screen and (max-width: 768px) {
        .search__burger {
          position: absolute;
          top: 50%;
          right: 24px;
          display: block;
          margin-top: -8px;
        }
      }
    }

    @media screen and (max-width: 1620px) {
      min-height: 52px;
      margin: 0 48px;
    }

    @media screen and (max-width: 768px) {
      min-height: 24px;
      width: 24px;
      margin: 0 0 0 auto;

      &--active {
        position: absolute;
        width: 100%;

        .search__input {
          height: 45px;
          padding: 0;
          background-image: none;
        }
      }
    }
  }

  &__input {
    position: relative;
    display: block;
    box-sizing: border-box;
    height: 66px;
    width: 100%;
    padding: 22px 54px 22px 67px;
    font-family: $medium;
    font-size: $smallBigText;
    color: $darkMain;
    border: 1px solid $darkMain;
    background: calc(100% - 54px) center / auto url(../img/loop.svg) no-repeat;
    transition: 0.5s;
    cursor: pointer;

    &::placeholder {
      font-family: $medium;
      font-size: $smallBigText;
      color: $darkMain;
    }

    &:hover {
      background-color: $lineDarker;
      border-color: $lineDarker;
    }

    &:focus {
      border-left: 0;
      border-right: 0;
      border-top: 0;
    }

    @media screen and (max-width: 1620px) {
      height: 52px;
      padding: 17px 27px 17px 48px;
      font-size: $normalText;
    }

    @media screen and (max-width: 1000px) {
      background: calc(100% - 3px) center/auto url(../img/loop.svg) no-repeat;
    }

    @media screen and (max-width: 768px) {
      height: 24px;
      width: 24px;
      padding: 24px 0 0 24px;
      border: none;
      background: 100% center/auto url(../img/loop.svg) no-repeat;

      &::placeholder {
        color: transparent;
      }

      &:hover {
        background-color: transparent;
      }
    }

    &--active {
      width: calc(100% - 48px);
      padding-left: 0;
      padding-right: 0;
      margin: 0 auto;
      border: none;
      border-bottom: 1px solid $darkMain;
      background-color: transparent;
      background-position: center right;

      &:hover {
        background-color: transparent;
      }
    }
  }
}

.favorites,
.basket {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: flex-start;
  width: 17%;
  max-width: 300px;
  padding-bottom: 22px;
  text-decoration: none;
  border-bottom: 0.5px solid $darkMain;

  p {
    display: none;
  }

  &:hover {
    border-width: 2px;
  }

  @media screen and (max-width: 1000px) {
    width: 50px;
    max-width: none;
    padding-bottom: 0;
    margin-left: auto;
    border-bottom: 0;

    span {
      display: none;
    }

    p {
      display: block;
      font-family: $semiBold;
      font-size: $extraSmallText;
      color: $darkMainColor;
    }
  }

  @media screen and (max-width: 768px) {
    position: absolute;
    top: 0;
    align-items: center;
    min-height: 23px;
    margin-top: -42px;
  }
}

.favorites {
  font-family: $medium;
  font-size: $smallText;
  color: $darkMain;

  &:hover {
    font-family: $semiBold;

    svg {
      path {
        fill: $red;
        stroke: $red;
      }
    }
  }

  @media screen and (max-width: 768px) {
    right: 74px;
  }
}

.basket {
  font-family: $semiBold;
  font-size: $normalText;
  color: $darkMainColor;

  &:hover {
    font-family: $bold;
  }

  @media screen and (max-width: 1000px) {
    margin-left: 15px;
  }

  @media screen and (max-width: 768px) {
    right: 0;
  }
}

.fix_cct {
  position: fixed;
  left: 0;
  top: 214px;
  z-index: 6;
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  padding: 50px 25px;
  background-color: $lightMain;
  transition: 0.5s;
  transform: translate(-100%);

  @media screen and (max-width: 1620px) {
    top: 185px;
    justify-content: space-between;
  }

  @media screen and (max-width: 768px) {
    top: 162px;
    overflow: auto;
    box-sizing: border-box;
    padding: 10px 15px 50px;
    height: calc(100vh - 160px);
    padding-bottom: 150px;
  }

  &--active {
    transform: translate(0);
  }

  &--fixed {
    top: 78px;

    @media screen and (max-width: 1620px) {
      top: 64px;
    }

    @media screen and (max-width: 768px) {
      top: 50px;
    }
  }

  &__link.sidebar__main__link {
    padding-right: 40px;

    &:after {
      display: block;
      height: 5px;
      width: 8px;
      background-image: url(../img/fixArrow.svg);
      transform: rotate(0);
      transition: 0.5s;

      @media screen and (max-width: 768px) {
        width: 10px;
        height: 10px;
      }
    }

    &.fix_cct__link--active {
      &:after {
        transform: rotate(180deg);
      }
    }

    @media screen and (max-width: 768px) {
      padding-left: 0;
      padding-right: 0;
      font-size: $smallText;

      span {
        font-size: $smallText;
      }
    }
  }

  &__list {
    list-style: none;
    display: block;
    width: calc(25% - 75px);
    margin-right: calc((100% - (4 * (25% - 50px))) / 2);

    @media screen and (max-width: 1620px) {
      width: calc(25% - 16px);
      margin: 0;
    }

    @media screen and (max-width: 1200px) {
      width: 50%;
    }

    @media screen and (max-width: 768px) {
      width: 100%;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__sublist {
    position: relative;
    display: none;
    box-sizing: border-box;
    padding: 30px 0;
    margin-top: 25px;
    margin-bottom: 25px;
    list-style: none;

    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 25px;
      display: block;
      height: 1px;
      width: calc(100% - 50px);
      background-color: $darkMain;

      @media screen and (max-width: 768px) {
        left: 0;
        width: 100%;
      }
    }

    &:before {
      top: 0;
    }

    &:after {
      bottom: 0;
    }

    .sidebar__main__link {
      display: block;
      box-sizing: border-box;
      padding: 8px 40px 8px 25px;
      font-size: $normalText;

      @media screen and (max-width: 768px) {
        font-size: $smallText;
        padding-left: 0;
        padding-right: 0;
      }
    }

    li + li {
      margin-top: 4px;
    }
  }
}

.bread_crumbs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;

  &__item {
    display: block;
    font-family: $light;
    font-size: $smallText;
    color: $darkMainColor;

    @media screen and (max-width: 1620px) {
      font-size: $extraSmallText;
    }

    @media screen and (max-width: 768px) {
      font-size: $extraSmallText2;
    }
  }

  li + li {
    margin-left: 20px;
  }
}

.section__title {
  display: block;
  font-family: $bold;
  font-size: $extraBigText2;
  color: $darkMain;

  @media screen and (max-width: 1620px) {
    font-size: $extraBigText;
  }

  @media screen and (max-width: 768px) {
    font-size: $bigText4;
  }
}

.ui-slider-horizontal {
  .ui-slider-range {
    top: -1px;
    height: calc(100% + 2px);
  }

  .ui-slider-handle {
    top: -1px;
    box-sizing: border-box;
    height: 21px;
    width: 21px;
    border: none;
    background: $darkMain;
    border-radius: 50%;
    transform-origin: center;
    transition: transform 0.5s;

    &:hover {
      transform: scale(1.6);
      background-color: $darkMainColor;
    }

    &:nth-last-child(2) {
      margin-left: -1px;
    }

    &:nth-last-child(1) {
      margin-left: -20px;
    }
  }
}

.castom_scroll.mCustomScrollbar {
  height: 265px;
  margin-top: 24px;

  @media screen and (max-width: 1620px) {
    height: 230px;
  }

  .mCSB_dragger_bar,
  .mCSB_dragger:hover .mCSB_dragger_bar {
    width: 4px;
    background-color: $darkMain;
    border-radius: 54px;
  }

  .mCSB_scrollTools {
    right: -3px;
    opacity: 1;

    .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
    .mCSB_dragger:active .mCSB_dragger_bar {
      background-color: $darkMain;
    }

    .mCSB_draggerRail {
      width: 4px;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #ffffff;
      border-radius: 54px;
    }
  }
}

.comparison__widget {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 97px;
  width: 97px;
  text-decoration: none;
  background-color: $brightLightMain;
  border-radius: 50%;

  @media screen and (max-width: 1620px) {
    height: 67px;
    width: 67px;

    svg {
      display: block;
      width: 16px;
    }
  }

  @media screen and (max-width: 768px) {
    display: none;
  }

  &__count {
    display: block;
    margin-top: -5px;
    margin-left: 6px;
    font-family: $bold;
    font-size: $normalText;
    color: $darkMain;

    @media screen and (max-width: 1620px) {
      font-size: $extraSmallText;
    }
  }
}

.address_select {
  position: relative;
  border: 1px solid $darkMain;
  border-radius: 555px;
  cursor: pointer;

  @media screen and (max-width: 768px) {
    border-radius: 0;
    border: none;
    border-bottom: 1px solid $darkMain;

    &.address_select--active {
      .address_select__input {
        &:after {
          transform: rotate(180deg);
        }
      }
    }
  }

  &__wrapper {
    width: calc(100% - 20px);
    max-width: 1010px;
    margin: 0 auto;

    @media screen and (max-width: 1620px) {
      max-width: 714px;
    }
  }

  &__input {
    display: flex;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    width: calc(100% - 68px);
    padding: 0 34px 0 0;
    margin: 0 auto;
    font-family: $bold;
    font-size: $normalText;
    color: $darkMainColor;
    background: right 0 center / auto url(../img/arrow.svg) no-repeat;

    @media screen and (max-width: 768px) {
      position: relative;
      width: 100%;
      font-size: $smallText;
      background: none;

      &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        display: block;
        box-sizing: border-box;
        height: 38px;
        width: 38px;
        margin-top: -19px;
        border: 1px solid $darkMain;
        border-radius: 50%;
        background: center / auto url(../img/arrow.svg) no-repeat;
      }
    }
  }

  &__content {
    display: none;

    &__item {
      display: block;
      font-family: $medium;
      font-size: $normalText;
      color: $darkMainColor;

      @media screen and (max-width: 768px) {
        font-size: $smallText;
      }

      & + & {
        margin-top: 25px;

        @media screen and (max-width: 768px) {
          margin-top: 15px;
        }
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__link {
    display: block;
    margin-top: 25px;
    font-family: $medium;
    font-size: $normalText;
    text-decoration: none;
    color: $darkMain;

    @media screen and (max-width: 768px) {
      display: flex;
      align-items: center;
      font-size: $smallText;
    }

    span {
      margin-right: 15px;
      text-decoration: underline;
    }

    &--disabled {
      display: none;

      @media screen and (max-width: 768px) {
        display: flex;
        align-items: center;
        font-size: $smallText;
      }
    }
  }

  &--active {
    border-radius: 20px;

    @media screen and (max-width: 768px) {
      border-radius: 0;
    }

    .address_select__input {
      border-bottom: 1px solid $darkMain;
    }

    .address_select__content {
      display: block;
      box-sizing: border-box;
      padding: 35px 34px;

      @media screen and (max-width: 768px) {
        padding: 25px 0;
      }
    }
  }
}

.sendAgain__btn {
  position: relative;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  min-height: 60px;
  width: 100%;
  max-width: 536px;
  margin: 40px auto 0;
  font-family: $light;
  font-size: $normalText;
  text-decoration: none;
  color: $darkMainColor;
  background-color: transparent;
  border: 1px dashed $darkMain;
  border-radius: 55px;

  &:hover {
    font-family: $medium;
    border-style: solid;
  }

  &--25 {
    width: calc(25% - 72px * 3 / 4);
    max-width: none;

    @media screen and (max-width: 768px) {
      width: 100%;
      margin-top: 40px;
    }
  }
}

.edit {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  &--disabled {
    display: none;
  }

  &:hover {
    path {
      stroke: $darkMainColor;
      fill: $darkMainColor;
    }

    line {
      stroke: $lightMain;
    }
  }

  &--ok {
    display: none;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    &:hover {
      path {
        stroke-width: 2px;
      }
    }

    &--active {
      display: flex;
    }
  }
}

.slideCheck {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  font-family: $semiBold;
  font-size: $bigText;
  color: $darkMainColor;
  cursor: pointer;

  @media screen and (max-width: 1620px) {
    font-size: $smallBigText;
  }

  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
    align-items: flex-start;
    font-size: $smallText2;

    span {
      display: block;
      order: 1;
      width: 100%;
      margin-top: -5px;
      font-family: $medium;
      font-size: $extraSmallText;
      color: $darkMain;
    }
  }

  &__input {
    input {
      display: none;

      &:checked + b {
        background-color: $brightLightMain;
        border-color: $brightLightMain;

        &:before {
          left: auto;
          right: 19px;
          background-color: $darkMain;
          border-color: $darkMain;

          @media screen and (max-width: 1620px) {
            right: 13px;
          }

          @media screen and (max-width: 768px) {
            right: 12px;
          }
        }
      }
    }

    b {
      position: relative;
      display: block;
      box-sizing: border-box;
      height: 67px;
      width: 97px;
      padding: 19px;
      border: 1px solid $darkMain;
      border-radius: 55px;

      @media screen and (max-width: 1620px) {
        height: 47px;
        width: 68px;
      }

      @media screen and (max-width: 768px) {
        height: 35px;
        width: 52px;
        padding: 0;
      }

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 19px;
        display: block;
        box-sizing: border-box;
        height: 30px;
        width: 30px;
        margin-top: -15px;
        border: 1px solid $darkMain;
        border-radius: 50%;

        @media screen and (max-width: 1620px) {
          left: 13px;
          height: 20px;
          width: 20px;
          margin-top: -10px;
        }

        @media screen and (max-width: 768px) {
          left: 12px;
          height: 12px;
          width: 12px;
          margin-top: -6px;
        }
      }
    }
  }
}

.mobileMenu {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 101;
  overflow: auto;
  display: none;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  width: 100vw;
  padding: 40px 15px 50px;
  background-color: $lightMain;

  &--active {
    display: flex;
  }

  &__topBlock {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    margin-bottom: 55px;

    &__content {
      width: calc(50% - 9px);
      list-style: none;

      li:not(:first-child) {
        margin-top: 15px;
      }
    }

    &__heading {
      display: block;
      box-sizing: border-box;
      padding-bottom: 25px;
      margin-bottom: 25px;
      font-family: $semiBold;
      font-size: $smallText;
      border-bottom: 1px solid $darkMain;
    }

    &__link {
      display: block;
      font-family: $medium;
      font-size: $extraSmallText;
      text-decoration: none;
      color: $darkMainColor;
    }
  }

  &__info {
    box-sizing: border-box;
    width: 100%;
    padding-bottom: 25px;
    margin-bottom: 45px;
    border-bottom: 1px solid $darkMain;

    &__heading {
      text-align: center;
      display: block;
      box-sizing: border-box;
      padding-bottom: 25px;
      font-family: $semiBold;
      font-size: $normalText;
      color: $darkMain;
      border-bottom: 1px solid $darkMain;
    }

    a {
      display: inline-block;
      width: calc(50% - 9px);
      padding-top: 25px;
      text-decoration: none;
    }

    &__phone {
      font-family: $semiBold;
      font-size: $extraSmallText;
      color: $darkMain;
    }

    &__mail {
      margin-left: 14px;
      font-family: $light;
      font-size: $extraSmallText2;
      color: $darkMain;
    }
  }

  &__more {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;

    &__link {
      display: block;
      margin: 0 9px;
      font-family: $light;
      font-size: $extraSmallText;
      text-decoration: underline;
      color: $darkMainColor;

      &:first-child {
        width: 100%;
        text-align: center;
      }

      & + & {
        margin-top: 14px;
      }
    }
  }

  &__remove {
    display: block;
    margin: 30px auto;
    flex-shrink: 0;
    cursor: pointer;
  }
}

.search {
  position: absolute;
  display: none;
  box-sizing: border-box;
  width: 100%;
  padding: 30px 0;
  background-color: $lightMain;

  &__burger {
    display: none;
    cursor: pointer;
  }

  &--active {
    display: block;
  }

  .persona__comeInNotification {
    display: none;
    margin-top: 30px;

    &--active {
      display: block;
    }
  }

  &__link_wrap {
    padding: 0 24px;
  }

  &__all_btn {
    display: none;
    padding-bottom: 20px;
    margin-top: 35px;
    margin-bottom: 25px;
    font-family: $bold;
    font-size: $smallText;
    text-decoration: underline;
    color: $darkMainColor;
    border-bottom: 1px solid $darkMain;

    &--active {
      display: block;
    }
  }

  .sidebar__side__link {
    display: none;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: -20px;
    margin-right: -20px;

    &:after {
      right: 20px;
    }

    &--active {
      display: block;
    }
  }

  &__item {
    display: none;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 12px 24px;
    text-decoration: none;
    border: 1px solid transparent;

    @media screen and (max-width: 768px) {
      padding: 10px 15px;
    }

    &--active {
      display: flex;
    }

    &:hover {
      border: 1px solid $darkMain;
    }

    & + & {
      margin-top: 5px;
    }

    &__img {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      width: 44px;
      margin-right: 28px;
      border: 1px solid $darkMain;

      img {
        display: block;
        width: 60%;
        object-fit: contain;
      }
    }

    &__pay {
      display: block;
      font-family: $medium;
      font-size: $extraSmallText;
      color: $darkMainColor;
    }

    .products__title {
      margin-bottom: 0;
      font-size: $smallText;
      text-decoration: none;

      @media screen and (max-width: 768px) {
        font-size: $extraSmallText;
      }

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.basket__hover {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 3;
  display: none;
  width: 400px;
  padding-top: 20px;
  background-color: $lightMain;

  @media screen and (max-width: 768px) {
    top: calc(100% - 45px);
    width: 300px;
  }

  &--active {
    display: block;
  }

  .search__item {
    display: flex;
  }
}

.favorites__counts_wrapper--max,
.favorites__counts_wrapper--min {
  &:before {
    content: '';
    position: absolute;
    top: 0;
    display: block;
    width: 14px;
    height: 100%;
  }

  &:hover {
    .favorites__counts__btn {
      &:before {
        opacity: 1;
      }
    }
  }
}

.favorites__counts_wrapper--min {
  &:before {
    left: 0;
  }
}

.favorites__counts_wrapper--max {
  &:before {
    right: 0;
  }
}
