.header {
  position: fixed;
  z-index: 6;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $lightMain;

  &--overlay {
    z-index: 5;

    &:before {
      content: '';
      position: absolute;
      z-index: 2;
      display: block;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100vw;
      height: 100%;
      background: $brightLightMain;
      opacity: 0.3;
    }
  }

  &--fixed {
    .header__top_menu,
    .header__info_block__wrapper {
      display: none;
    }

    .header__bottom_block__wrapper {
      padding: 10px 0;

      @media screen and (max-width: 768px) {
        padding: 5px 0;

        .catalog_btn {
          width: 112px;

          &:after {
            display: none;
          }
        }

        .basket,
        .favorites {
          top: 50%;
          width: 42px;
          margin-top: -11px;
        }

        .favorites {
          right: 58px;
        }

        .search__block {
          margin-right: 118px;
        }
      }
    }

    &:before {
      height: 100%;

      @media screen and (max-width: 768px) {
        height: 100%;
      }
    }
  }

  &--active_catalog {
    z-index: 7;
  }

  &--active_catalog.header--fixed {
    &:before {
      height: calc(100% - 10px);

      @media screen and (max-width: 768px) {
        height: calc(100% - 5px);
      }
    }
  }

  .basket.basket.is-active {
    z-index: 10;
  }

  &__burger {
    position: relative;
    display: none;
    height: 9px;
    width: 38px;
    cursor: pointer;

    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 0;
      display: block;
      height: 2px;
      width: 100%;
      background-color: $darkMain;
    }

    &:before {
      top: 0;
    }

    &:after {
      bottom: 0;
    }

    @media screen and (max-width: 768px) {
      display: block;
      margin-left: calc(100% - 188px);
    }
  }

  &__top_menu {
    border-bottom: 0.5px solid $darkMain;

    @media screen and (max-width: 1000px) {
      display: none;
    }

    ul {
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      min-height: 43px;
    }

    &__item {
      position: relative;
      display: block;
      padding-left: 18px;
      margin-right: auto;
      font-family: $light;
      font-size: $smallText;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background-color: $darkMain;
      }

      @media screen and (max-width: 1620px) {
        font-size: $extraSmallText;
      }
    }
  }

  &__info_block {
    display: flex;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: center;
    padding: 25px 0;

    @media screen and (max-width: 1620px) {
      padding: 19px 0;
    }

    @media screen and (max-width: 1000px) {
      padding: 10px 0;
    }

    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
    }

    .call_btn,
    .personal_area {
      width: 19%;
      max-width: 300px;

      @media screen and (max-width: 1620px) {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 44px;
        padding: 0 24px;
        font-size: $extraSmallText;
      }
    }

    .call_btn {
      @media screen and (max-width: 768px) {
        width: calc(100% - 141px);
        max-width: none;
        padding: 0 15px;
        margin-top: 15px;
        font-size: $extraSmallText2;
      }
    }

    .personal_area {
      margin-left: 38px;

      @media screen and (max-width: 1620px) {
        width: 15.4%;
        margin-left: 28px;
      }

      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }

  &__logo {
    display: block;
    max-height: 49px;

    @media screen and (max-width: 1620px) {
      max-width: 150px;
    }

    img {
      display: block;
      height: 100%;
      width: auto;

      @media screen and (max-width: 1620px) {
        height: auto;
        width: 100%;
      }
    }
  }

  &__market {
    display: block;
    margin: 0 66px;
    font-family: $light;
    font-size: $smallText;
    text-decoration: none;
    color: $darkMain;

    @media screen and (max-width: 1620px) {
      max-width: 74px;
      margin: 0 70px 0 40px;
      font-size: $extraSmallText;
    }

    @media screen and (max-width: 1100px) {
      margin: 0 auto 0 10px;
    }

    @media screen and (max-width: 1000px) {
      display: none;
    }
  }

  &__phone {
    &_block {
      position: relative;
      box-sizing: border-box;
      padding: 10px 0;
      flex-shrink: 0;

      &:hover {
        .header__phone_link:after {
          transform: rotate(180deg);
        }

        .header__phone_hover {
          transform: scaleY(1);
        }
      }

      @media screen and (max-width: 1000px) {
        display: none;
      }
    }

    &_link {
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-family: $semiBold;
      font-size: $normalText;
      text-decoration: none;
      color: $darkMain;

      &:after {
        content: '';
        display: flex;
        box-sizing: border-box;
        flex-shrink: 0;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        margin-left: 20px;
        border-radius: 50%;
        border: 0.5px solid $darkMain;
        background: center / auto url(../img/arrow.svg) no-repeat;
        transition: 0.5s;
      }

      @media screen and (max-width: 1620px) {
        margin: 0 20px;
      }
    }

    &_hover {
      position: absolute;
      top: 100%;
      left: 50%;
      z-index: 5;
      display: block;
      box-sizing: border-box;
      display: block;
      width: 266px;
      padding: 25px 34px;
      margin-left: -133px;
      background-color: $dark30;
      transition: 0.5s;
      transform-origin: center top;
      transform: scaleY(0);

      .header__city,
      .header__mail {
        display: block;
        font-family: $medium;
        font-size: $smallText2;
        text-decoration: none;
        color: $lightMain;
      }

      .header__city {
        padding-bottom: 20px;
        border-bottom: 0.5px solid $lightMain;
      }

      .header__mail {
        padding-top: 20px;
      }
    }
  }

  &__times {
    display: block;
    margin-left: auto;
    margin-right: 107px;
    font-family: $light;
    flex-shrink: 0;

    @media screen and (max-width: 1620px) {
      margin-right: 38px;
    }

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &__days {
    font-family: $medium;
  }

  &__times,
  &__days {
    font-size: $smallText;
    color: $darkMain;
  }

  &__bottom_block {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    &__border_line {
      display: block;
      width: 38px;
      border-bottom: 0.5px solid $darkMain;
      flex-shrink: 0;

      @media screen and (max-width: 1000px) {
        display: none;
      }
    }

    @media screen and (max-width: 1000px) {
      align-items: center;
    }
  }
}
