.products {
  &__sidebar {
    width: 400px;

    @media screen and (max-width: 1620px) {
      width: 283px;
    }

    @media screen and (max-width: 900px) {
      display: none;
      width: 100%;
    }

    &--active {
      display: block;
    }
  }

  &__heading {
    display: flex;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: center;
    width: calc(100% - 400px);
    padding-left: 72px;

    @media screen and (max-width: 1620px) {
      width: calc(100% - 283px);
      padding-left: 52px;
    }

    @media screen and (max-width: 1100px) {
      text-align: center;
      display: block;
      width: 100%;
      padding: 0;
    }

    .section__title {
      margin-right: auto;

      @media screen and (max-width: 1100px) {
        display: block;
        width: 100%;
        margin-bottom: 18px;
      }
    }

    &__wrapper {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 50px;

      @media screen and (max-width: 1100px) {
        display: block;
      }

      .bread_crumbs {
        width: 400px;

        @media screen and (max-width: 1620px) {
          width: 283px;
        }

        @media screen and (max-width: 1100px) {
          justify-content: center;
          width: 100%;
          margin: 0 auto 20px;
        }
      }
    }
  }

  &__firsts {
    display: block;
    margin-right: 56px;
    font-family: $medium;
    font-size: $normalText;

    @media screen and (max-width: 1620px) {
      margin-right: 40px;
      font-size: $smallText;
    }

    @media screen and (max-width: 900px) {
      display: none;
    }
  }

  &__populars {
    &:hover {
      .products__populars__link {
        &:after {
          transform: rotate(180deg);
        }
        & ~ .products__populars__hover {
          transform: scaleY(1);
        }
      }
    }

    &__link {
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-bottom: 20px;
      margin-bottom: -20px;
      font-family: $semiBold;
      font-size: $normalText;
      text-decoration: none;
      color: #000;

      @media screen and (max-width: 1620px) {
        font-size: $smallText2;
      }

      @media screen and (max-width: 1100px) {
        justify-content: center;
      }

      &:after {
        content: '';
        display: flex;
        box-sizing: border-box;
        flex-shrink: 0;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        margin-left: 20px;
        border-radius: 50%;
        border: 0.5px solid #000;
        background: center/auto url(../img/arrow.svg) no-repeat;
        -webkit-transition: 0.5s;
        transition: 0.5s;

        @media screen and (max-width: 1620px) {
          height: 24px;
          width: 24px;
          margin-left: 15px;
        }
      }
    }

    &__hover {
      position: absolute;
      top: 100%;
      right: 0;
      z-index: 2;
      display: block;
      box-sizing: border-box;
      width: 300px;
      padding: 25px 34px;
      background-color: $lightMain;
      border: 1px solid $darkMain;
      transform-origin: center top;
      transition: 0.5s;
      transform: scaleY(0);

      @media screen and (max-width: 1620px) {
        width: 230px;
        padding: 20px 24px;
      }

      @media screen and (max-width: 1100px) {
        top: 100%;
        left: 50%;
        margin-left: -150px;
        width: 300px;
      }

      a {
        display: block;
        box-sizing: border-box;
        font-family: $medium;
        font-size: $smallText2;
        text-decoration: none;
        color: $darkMainColor;

        @media screen and (max-width: 1620px) {
          text-align: left;
          font-size: $smallText;
        }

        & + a {
          padding-top: 20px;
          margin-top: 20px;
          border-top: 1px solid $darkMain;

          @media screen and (max-width: 1620px) {
            padding-top: 15px;
            margin-top: 15px;
          }
        }
      }
    }
  }

  &__block {
    display: flex;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    width: calc(100% - 400px);
    padding-left: 72px;
    margin-bottom: -56px;

    @media screen and (max-width: 1620px) {
      width: calc(100% - 283px);
      padding-left: 28px;
    }

    @media screen and (max-width: 900px) {
      width: 100%;
      padding: 0;
    }

    .products__item {
      @media screen and(max-width:1300px) {
        width: calc(50% - 15px);
      }

      @media screen and(max-width:768px) {
        width: 100%;
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    width: 33.333%;
    padding: 34px;
    margin-bottom: 56px;
    border: 1px dashed transparent;

    @media screen and (max-width: 1620px) {
      padding: 26px;
    }

    @media screen and (max-width: 1000px) {
      width: calc(50% - 15px);
      padding: 0;

      &:nth-child(2n - 1) {
        margin-right: 30px;
      }
    }

    @media screen and (max-width: 768px) {
      width: 100%;

      &:nth-child(2n - 1) {
        margin-right: 0;
      }
    }

    &:hover {
      border-color: $darkMain;

      @media screen and (max-width: 1000px) {
        border-color: $lightMain;
      }

      .slick-arrow {
        opacity: 1;
      }
    }
  }

  &__images {
    display: block;
    width: 100%;

    &__item.slick-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 276px;

      img {
        width: 60%;
      }

      @media screen and (max-width: 900px) {
        height: 162px;

        img {
          display: block;
          width: 50%;
        }
      }

      @media screen and (max-width: 768px) {
        height: 162px;

        img {
          display: block;
          width: 40%;
        }
      }
    }

    .slick-arrow {
      position: absolute;
      z-index: 2;
      top: 50%;
      display: flex;
      width: 16px;
      height: 32px;
      padding: 0;
      margin: 0;
      margin-top: -16px;
      font-size: 0;
      line-height: 0;
      border: none;
      background: transparent center / auto url(../img/bigArrow.svg) no-repeat;
      opacity: 0;

      &.slick-prev {
        left: 0;
      }

      &.slick-next {
        transform: rotate(180deg);
        right: 0;
      }
    }
  }

  &__desc {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    margin-bottom: 18px;

    @media screen and (max-width: 768px) {
      margin-bottom: 10px;
    }

    ul {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: calc(100% - 40px);
      margin-right: auto;
      list-style: none;

      li {
        max-width: calc(33% - 20px / 3);

        &:not(:first-child) {
          a,
          span {
            padding-left: 8px;

            &:before {
              content: '';
              position: absolute;
              left: 0;
              top: 50%;
              display: block;
              width: 4px;
              height: 4px;
              margin-top: -2px;
              border-radius: 50%;
              background-color: $darkMain;
            }
          }
        }
      }

      li + li {
        margin-left: 10px;
      }

      a {
        font-family: $medium;
      }

      span {
        font-family: $light;
      }

      a,
      span {
        position: relative;
        display: block;
        box-sizing: border-box;
        width: 100%;
        font-size: $smallText2;
        color: $darkMain;
        overflow: hidden;
        text-overflow: ellipsis;

        @media screen and (max-width: 1620px) {
          font-size: $smallText;
        }

        @media screen and (max-width: 768px) {
          font-size: $extraSmallText;
        }
      }
    }
  }

  &__fp_wrapper {
    text-align: center;

    a {
      display: block;

      @media screen and (max-width: 1620px) {
        width: 20px;

        svg {
          display: block;
          width: 100%;
        }
      }

      @media screen and (max-width: 768px) {
        &:nth-child(1) {
          display: none;
        }
      }

      & + a {
        margin-top: 20px;

        @media screen and (max-width: 1620px) {
          margin-top: 10px;
        }
      }
    }
  }

  &__title {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    font-family: $bold;
    font-size: $smallBigText2;
    text-decoration: none;
    color: $darkMainColor;

    @media screen and (max-width: 1620px) {
      font-size: $normalText2;
    }

    @media screen and (max-width: 768px) {
      margin-bottom: 10px;
      font-size: $smallText2;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__subtitle {
    display: block;
    width: 100%;
    margin-bottom: auto;
    font-family: $light;
    font-size: $normalText;
    color: $darkMain;

    @media screen and (max-width: 1620px) {
      font-size: $smallText2;
    }

    @media screen and (max-width: 768px) {
      font-size: $extraSmallText;
    }
  }

  &__basket {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 60px;
    padding: 0 33px;
    margin-top: 40px;
    border: 1px solid $darkMainColor;
    border-radius: 55px;
    text-decoration: none;

    @media screen and (max-width: 1620px) {
      min-height: 50px;
      padding: 0 24px;

      svg {
        display: block;
        width: 20px;
      }
    }

    @media screen and (max-width: 768px) {
      min-height: 40px;
      margin-top: 20px;
    }

    &:hover {
      background-color: $brightLightMain;
      border-color: $brightLightMain;
    }

    &--in_basket {
      span {
        display: block;
        font-family: $medium;
        font-size: $normalText2;
        margin: 0 auto;

        @media screen and (max-width: 1620px) {
          font-size: $normalText2;
        }

        @media screen and (max-width: 768px) {
          font-size: $smallText2;
        }
      }
    }
  }

  &__price {
    display: block;
    font-family: $bold;
    font-size: $bigText;
    color: $darkMainColor;

    @media screen and (max-width: 1620px) {
      font-size: $normalText;
    }
  }

  &__comparison {
    &:hover {
      svg {
        path,
        line,
        rect {
          fill: $darkMain;
        }
      }
    }
  }

  &__favorites {
    &:hover {
      svg {
        path {
          stroke: $red;
          fill: $red;
        }
      }
    }
  }

  &__item.products__item--sale {
    .products__images {
      &:before {
        content: 'Акция';
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 67px;
        width: 67px;
        font-family: $bold;
        font-size: $extraSmallText;
        color: $lightMain;
        background-color: $red;
        border-radius: 50%;
      }
    }

    .products__basket {
      border-color: $red;
      svg {
        &:last-child {
          path {
            fill: $red;
          }
        }

        &:first-child {
          path,
          circle {
            stroke: $red;
          }
        }
      }
      .products__price--start {
        margin-left: auto;
        margin-right: 5px;
        color: $red;
        text-decoration: line-through;

        @media screen and (max-width: 1620px) {
          font-size: $smallText;
        }
      }

      .products__price--end {
        box-sizing: border-box;
        padding: 4px 10px;
        margin-left: 5px;
        margin-right: auto;
        color: $lightMain;
        border-radius: 55px;
        background-color: $red;

        @media screen and (max-width: 1620px) {
          padding: 3px 5px;
        }
      }

      &:hover {
        background-color: $red;

        svg {
          &:last-child {
            path {
              fill: $lightMain;
            }
          }

          &:first-child {
            path,
            circle {
              stroke: $lightMain;
            }
          }
        }

        .products__price--start {
          color: $lightMain;
        }

        .products__price--end {
          color: $red;
          background-color: $lightMain;
        }
      }
    }
  }

  &__item.products__item--under_the_order {
    .products__images {
      &:before {
        content: 'Под заказ';
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 2;
        display: flex;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 67px;
        width: 67px;
        padding: 0 5px;
        font-family: $bold;
        font-size: $extraSmallText;
        line-height: $extraSmallText;
        color: $darkMain;
        background-color: $brightLightMain;
        border-radius: 50%;
      }
    }
  }

  &__item.products__item--favorites {
    .products__favorites {
      svg {
        path {
          fill: $red;
          stroke: $red;
        }
      }
    }
  }

  &__sidebar {
    &__content {
      list-style: none;

      li {
        transition: 0.5s;

        &.products__sidebar__sidecontent--active {
          padding: 20px 0 30px;
          border-top: 1px solid $darkMain;
          border-bottom: 1px solid $darkMain;

          @media screen and (max-width: 900px) {
            &:first-child {
              border-top: 0;
            }
          }

          &:hover {
            border-style: dashed;
          }
        }

        & + li {
          margin-top: 9px;
        }

        &:last-child {
          border-bottom: 0;
          padding-bottom: 0;
        }
      }
    }

    &__link {
      position: relative;
      display: block;
      box-sizing: border-box;
      padding: 8px 20px;
      margin: 0 -20px;
      font-family: $bold;
      font-size: $smallBigText;
      color: $darkMain;
      text-decoration: none;
      border-radius: 55px;
      transition: 0.5s;

      @media screen and (max-width: 1620px) {
        font-size: $smallText2;
      }

      &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 20px;
        display: block;
        height: 6px;
        width: 12px;
        margin-top: -3px;
        background: center / auto url(../img/fixArrow.svg) no-repeat;
      }

      &:hover {
        background: $lineDarker;

        @media screen and (max-width: 900px) {
          background-color: transparent;
        }
      }

      &--active {
        &:after {
          transform: rotate(180deg);
        }
      }
    }

    &__sidecontent {
      display: none;
      transition: 0.5s;

      &--active {
        display: block;
      }
    }
  }
}

.price__filter {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 20px;

  &__input {
    display: block;
    box-sizing: border-box;
    text-align: center;
    height: 50px;
    width: 50%;
    margin: 0;
    padding: 5px;
    font-family: $medium;
    font-size: $normalText;
    color: $darkMainColor;
    border: 1px solid $darkMain;
    border-radius: 0;
    cursor: pointer;

    &:hover,
    &:focus {
      border-width: 2px;
    }

    &:first-child {
      border-right-color: transparent;

      &:hover {
        border-right-color: $darkMain;

        & ~ .price__filter__input {
          border-left-color: transparent;
        }
      }
    }
  }

  &__wrapper {
    margin-top: 20px;
  }
}

.products__radio_filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  span {
    display: block;
    font-family: $medium;
    font-size: $smallText2;
    color: $darkMain;

    @media screen and (max-width: 1620px) {
      font-size: $smallText;
    }
  }

  input {
    display: none;
  }

  b {
    position: relative;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    border: 1px solid $darkMain;
    border-radius: 50%;
    background-color: $lightMain;

    @media screen and (max-width: 1620px) {
      height: 20px;
      width: 20px;
    }
  }

  input:checked ~ b {
    background-color: $brightLightMain;
    border-color: $brightLightMain;

    &:after {
      content: '';
      display: block;
      height: 7px;
      width: 7px;
      background-color: $darkMain;
      border-radius: 50%;
    }
  }

  input:checked ~ span {
    font-family: $bold;
  }

  &:hover {
    span {
      font-family: $bold;
    }
  }

  & + .products__radio_filter {
    margin-top: 15px;
  }
}

.products__check_filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  span:not(.products__check_filter__heading) {
    display: block;
    font-family: $medium;
    font-size: $smallText2;
    color: $darkMain;
  }

  b {
    position: relative;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    height: 27px;
    width: 31px;
    padding: 1px 3px;

    &:before {
      content: '';
      position: absolute;
      z-index: 1;
      display: block;
      box-sizing: border-box;
      height: 25px;
      width: 25px;
      border: 1px solid $darkMain;
      background-color: $lightMain;
    }
  }

  &:hover {
    span:not(.products__check_filter__heading) {
      font-family: $bold;
    }
  }

  input:checked ~ span {
    font-family: $bold;
  }

  input:checked ~ b {
    &::before {
      background-color: $brightLightMain;
      border-color: $brightLightMain;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
      display: block;
      height: 17px;
      width: 20px;
      background: center / cover url(../img/check.svg) no-repeat;
    }
  }

  & + .products__check_filter {
    margin-top: 15px;
  }

  input {
    display: none;
  }

  &__heading {
    display: block;
    font-family: $bold;
    font-size: $smallText2;
    color: $darkMain;
    margin-bottom: 20px;
  }

  & + &__heading {
    margin-top: 20px;
  }
}

.number__filter {
  margin-bottom: 0;
}

.products__filter__settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 110px;

  &__link {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: calc(50% - 2px);
    font-family: $light;
    font-size: $normalText;
    text-decoration: none;
    color: $darkMainColor;
    border: 1px dashed $darkMain;
    border-radius: 55px;

    &:hover {
      font-family: AktifoBMedium;
      border-style: solid;
    }
  }
}

.pagination {
  position: absolute;
  right: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;

  @media screen and (max-width: 768px) {
    position: relative;
    justify-content: space-between;
  }

  &__wrapper {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 25px;
    margin-top: 120px;

    @media screen and (max-width: 768px) {
      display: block;
      margin-top: 60px;
    }

    .categories_catalog__more_categories_btn {
      margin-top: 0;
      margin-bottom: 40px;

      @media screen and (max-width: 768px) {
        display: flex;
        height: 94px;
        width: 94px;
        font-size: $smallText;
      }
    }
  }

  li {
    margin: 0 15px;

    @media screen and (max-width: 768px) {
      margin: 0;
    }

    &:first-child {
      margin-left: 0;
      .pagination__link--active {
        margin-left: 0;
      }
    }

    &:last-child {
      margin-right: 0;
    }

    @media screen and (max-width: 1620px) {
      &:nth-child(5),
      &:nth-child(6),
      &:nth-child(7),
      &:nth-child(8),
      &:nth-child(9) {
        display: none;
      }
    }

    @media screen and (max-width: 768px) {
      &:nth-child(4) {
        display: none;
      }
    }
  }

  &__link {
    position: relative;
    display: block;
    font-family: $semiBold;
    font-size: $normalText;
    text-decoration: none;
    color: $darkMain;

    @media screen and (max-width: 768px) {
      font-size: $extraSmallText;
    }

    &:before {
      content: '';
      position: absolute;
      display: block;
      bottom: 0;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: $darkMain;
      transition: 0.5s;
    }

    &--more {
      &:before {
        display: none;
      }
    }

    &:hover {
      &:before {
        bottom: -15px;
      }
    }

    &--active {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 22px;
      font-family: $medium;
      color: $lightMain;

      @media screen and (max-width: 768px) {
        margin: 0;
        padding: 0 18px;
      }

      &:before {
        display: none;
      }

      &:after {
        content: '';
        position: absolute;
        z-index: -1;
        display: block;
        height: 52px;
        width: 52px;
        border-radius: 50%;
        background-color: $dark30;

        @media screen and (max-width: 1620px) {
          height: 43px;
          width: 43px;
        }
      }
    }
  }
}

.products__content {
  @media screen and (max-width: 900px) {
    display: block;
  }
}

.filter__mobile_btn {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  margin: 30px -40px 0;
  font-family: $bold;
  font-size: $normalText;
  text-decoration: none;
  color: $darkMain;
  border-top: 1px dashed $darkMain;
  border-bottom: 1px dashed $darkMain;

  @media screen and (max-width: 900px) {
    display: flex;
  }

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 24px;
    border: 1px solid $darkMain;
    border-radius: 50%;
  }

  &--active {
    span {
      background-color: $darkMain;
      transform: rotate(180deg);

      svg {
        path {
          stroke: $lightMain;
        }
      }
    }
  }
}
