.compare {
  display: block;
  height: 1000px;
  will-change: auto;

  * {
    will-change: auto;
  }

  &__scroll {
    margin-top: 50px;

    .compare {
      min-width: 1120px;
      padding-top: 50px;

      &--three {
        min-width: 840px;
      }

      &--two {
        min-width: 560px;
      }
    }

    .mCSB_scrollTools_horizontal {
      top: 0;

      &:hover {
        .mCSB_dragger_bar {
          background-color: $darkMain;
        }
      }

      .mCSB_dragger_bar {
        background-color: $darkMain;
      }
    }

    &.mCustomScrollbar.mCS_no_scrollbar,
    &.mCustomScrollbar.mCS_touch_action,
    &.mCustomScrollbar {
      touch-action: auto;
    }
  }

  &__page {
    .main {
      padding-bottom: 160px;
      border-bottom: 1px solid $darkMain;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    @media screen and (max-width: 1300px) {
      &:not(:first-child) {
        .compare__col:first-child {
          display: none;
        }
      }

      &:first-child {
        flex-wrap: wrap;

        .compare__col:first-child {
          width: 100%;
        }
      }
    }
  }

  &__col {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    width: 33.333333333%;

    @media screen and (max-width: 1300px) {
      width: 50%;
    }

    &:first-child {
      .compare__desc {
        padding-left: 0;
      }
    }

    &.compare__col--three {
      width: 25%;

      @media screen and (max-width: 1300px) {
        width: 33.333%;
      }
    }

    &.compare__col--four {
      width: 20%;

      @media screen and (max-width: 1300px) {
        width: 25%;
      }
    }

    .products__item {
      width: 100%;

      @media screen and (max-width: 1000px) {
        width: 100%;
        padding: 10px;
      }
    }
  }

  &__desc {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 38px 34px 38px 34px;
    border-top: 1px solid $darkMain;
    border-bottom: 1px solid $darkMain;
    list-style: none;

    @media screen and (max-width: 1000px) {
      padding: 10px;
    }

    li {
      box-sizing: border-box;
      padding: 22px 0;
    }

    &__specifications {
      display: block;
      font-family: $medium;
      font-size: $normalText2;
      line-height: 22px;
      color: $darkMain;

      &__value {
        display: block;
        font-family: $bold;
        font-size: $normalText2;
        color: $darkMain;

        &.compare__desc__specifications__value--green {
          color: $green;
        }
      }
    }
  }

  &__heading {
    display: block;
    box-sizing: border-box;
    width: 100%;
    max-width: 198px;
    padding-top: 80px;
    padding-bottom: 35px;
    font-family: $bold;
    font-size: $bigText;
    color: $darkMain;
    border-bottom: 1px solid $darkMain;
  }

  &__bot_desc {
    box-sizing: border-box;
    padding: 80px 34px 0 34px;

    @media screen and (max-width: 1000px) {
      padding: 10px;
    }

    &__item {
      display: block;
      font-family: $medium;
      font-size: $smallText2;
      color: $darkMain;

      & + & {
        margin-top: 25px;
      }
    }
  }
}
