.favorites {
  &__heading {
    position: relative;
    display: block;
    padding-top: 0;

    @media screen and (max-width: 1620px) {
      padding-top: 50px;
    }

    .section__title {
      text-align: center;
    }

    .favorites__remove {
      position: absolute;
      top: 50%;
      right: -10px;

      @media screen and (max-width: 1620px) {
        top: calc(50% + 16px);
      }

      @media screen and (max-width: 1050px) {
        position: relative;
        text-align: center;
        display: block;
        margin: 10px auto 20px;
      }
    }
  }

  &__content {
    margin-top: 90px;
    padding: 80px 0 210px;
    border-top: 1px solid $darkMain;
    border-bottom: 1px solid $darkMain;

    @media screen and (max-width: 1620px) {
      padding: 40px 0 120px;
      margin-top: 60px;
    }

    @media screen and (max-width: 1050px) {
      padding: 0;
      margin: 0;
      border: none;
    }
  }

  &__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .products__basket {
      display: none;

      @media screen and (max-width: 1050px) {
        display: flex;
      }
    }

    & + & {
      @media screen and (max-width: 1620px) {
        margin-top: 40px;
      }
    }

    @media screen and (max-width: 1050px) {
      display: block;
    }
  }

  &__image {
    display: block;
    padding: 52px 75px;
    width: 150px;
    object-fit: cover;
    margin-right: auto;

    @media screen and (max-width: 1620px) {
      box-sizing: border-box;
      width: 211px;
      padding: 36px 52px;
    }

    @media screen and (max-width: 1050px) {
      height: 200px;
      width: auto;
      margin: 0 auto;
      object-fit: contain;
    }

    @media screen and (max-width: 768px) {
      height: 150px;
    }
  }

  &__description {
    width: 27.9%;
    max-width: 536px;
    margin: 0 auto;

    @media screen and (max-width: 1050px) {
      width: 100%;
      max-width: none;
    }
  }

  &__counts {
    position: relative;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 165px;
    padding-bottom: 25px;
    margin-bottom: -25px;
    border-bottom: 2px solid $darkMain;

    @media screen and (max-width: 1050px) {
      width: 100%;
      margin: 20px auto 0;
    }

    &--inFocus {
      border-width: 3px;
    }

    &__btn {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        width: 14px;
        height: 4px;
        background-color: $darkMain;
        opacity: 0;
      }

      &--max {
        &:before {
          left: auto;
          right: 0;
        }
      }

      &:hover {
        &:before {
          opacity: 1;
        }
      }
    }

    &__input {
      display: block;
      text-align: center;
      width: 60%;
      padding: 0;
      margin: 0;
      font-family: $semiBold;
      font-size: $smallBigText;
      color: $darkMainColor;
      border: none;
      background: transparent;
    }
  }

  &__price {
    display: block;
    margin-right: 9%;
    margin-left: 5%;
    font-family: $bold;
    font-size: $bigText4;
    color: $darkMain;
    user-select: none;

    @media screen and (max-width: 1620px) {
      font-size: $smallBigText2;
      margin: 0 5%;
    }

    @media screen and (max-width: 1050px) {
      display: none;
    }
  }

  &__pay {
    display: block;
    margin-right: 4%;
    text-decoration: none;

    @media screen and (max-width: 1050px) {
      display: none;
    }

    &:hover {
      svg {
        path:not(:nth-child(2)),
        circle {
          stroke: $darkMain;
          fill: $darkMain;
        }

        path:nth-child(2) {
          stroke: $darkMain;
        }
      }
    }
  }

  &__remove {
    font-family: $bold;
    font-size: $normalText;
    text-decoration: none;
    color: $red;
    user-select: none;

    @media screen and(max-width:1620px) {
      font-size: $smallText2;
    }

    &:hover {
      text-decoration: underline;
    }

    @media screen and (max-width: 1050px) {
      display: none;
    }

    &--mobile {
      display: none;

      @media screen and (max-width: 1050px) {
        right: 0;
        position: absolute;
        display: block;
        cursor: pointer;
      }
    }
  }
}
