.content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.sidebar {
  position: relative;
  z-index: 5;
  display: flex;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: stretch;
  padding: 40px 0 0 40px;
  margin-left: -65px;
  background-color: $lightMain;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: none;
    height: 100%;
    width: 100%;
    background: #ccfffc;
    opacity: 0.3;
    transition: 0.5s;
  }

  &--overlay {
    &:before {
      display: block;
    }
  }

  @media screen and (max-width: 1620px) {
    margin-left: -20px;
    padding: 20px 0 0 20px;
  }

  @media screen and (max-width: 768px) {
    display: none;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  &__main,
  &__side {
    list-style: none;

    &__link {
      position: relative;
      display: block;
      box-sizing: border-box;
      text-decoration: none;
      color: $darkMainColor;
      border-radius: 55px;
      transition: 0.5s;

      &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 25px;
        display: block;
        width: 7px;
        height: 4px;
        margin-top: -2px;
        background: center / auto url(../img/arrow.svg) no-repeat;
        transform: rotate(-90deg);

        @media screen and (max-width: 768px) {
          right: 0;
          height: 10px;
          width: 10px;
          background-image: url(../img/fixArrow.svg);
          transform: rotate(0);
        }
      }

      &:hover {
        background-color: $lineDarker;

        @media screen and (max-width: 768px) {
          background-color: $lightMain;
        }
      }
    }
  }

  &__hover {
    position: absolute;
    top: 0;
    left: 100%;
    display: none;
    height: 100%;
    box-sizing: border-box;
    padding: 40px 13px 0 26px;
    background-color: $lightMain;

    @media screen and (max-width: 1620px) {
      padding: 20px 13px 0 26px;
    }

    &.active {
      display: block;
    }
  }

  &__main {
    width: 450px;

    & > li {
      position: relative;

      &:hover {
        & > .sidebar__side {
          display: block;
        }
      }
    }

    @media screen and (max-width: 1620px) {
      width: 323px;
    }

    @media screen and (max-width: 768px) {
      width: 100%;
    }

    &__link {
      padding: 15px 39px 15px 25px;
      font-family: $light;
      font-size: $smallBigText2;

      @media screen and (max-width: 1620px) {
        font-size: $normalText;
        padding: 10px 33px 10px 19px;
      }

      span {
        font-family: $semiBold;
        font-size: $smallBigText2;
        color: $darkMainColor;

        @media screen and (max-width: 1620px) {
          font-size: $normalText;
        }
      }
    }
  }

  &__side {
    position: absolute;
    top: -19px;
    left: 100%;
    box-sizing: border-box;
    width: 442px;
    padding: 20px 13px 20px 26px;
    display: none;
    background-color: $lightMain;

    @media screen and (max-width: 1620px) {
      width: 313px;
    }

    &.active {
      display: block;
    }

    &__link {
      padding: 10px 29px 8px 20px;
      font-family: $medium;
      font-size: $normalText;

      @media screen and (max-width: 1620px) {
        padding: 8px 23px 8px 15px;
        font-size: $smallText;
      }
    }
  }
}

.content__block {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: calc(100% - 450px);
  padding-left: 50px;
  padding-top: 50px;

  @media screen and (max-width: 1620px) {
    width: calc(100% - 323px);
    padding-left: 20px;
    padding-top: 30px;
  }

  @media screen and (max-width: 768px) {
    order: -1;
    width: 100%;
    padding: 0;
    margin-bottom: 0;
  }
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  will-change: auto;

  * {
    will-change: auto;
  }

  @media screen and (max-width: 768px) {
    width: 100vw;
    margin-left: -10px;
  }

  &__wrapper {
    position: relative;
    width: calc(100vw - 525px);

    @media screen and (max-width: 1620px) {
      height: 400px;
      width: calc(100vw - 383px);
    }

    @media screen and (max-width: 1000px) {
      height: 328px;
    }

    @media screen and (max-width: 768px) {
      width: 100%;
    }

    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 510px;
    }
  }

  &__item {
    position: relative;
    overflow: hidden;
    height: 510px;

    @media screen and (max-width: 1620px) {
      height: 400px;
    }

    @media screen and (max-width: 1000px) {
      height: 328px;
    }
  }

  &__item1 {
    .banner__bg {
      position: absolute;
      top: 0;
      right: -49px;
      z-index: 1;
      height: 100%;
      width: 80%;
      max-width: 999px;
      object-fit: cover;
      transform: matrix(-1, 0, 0, 1, 0, 0);

      @media screen and (max-width: 1620px) {
        width: 70%;
      }

      @media screen and (max-width: 1000px) {
        object-position: 25%;
        top: 32px;
        right: auto;
        left: 0;
        z-index: 2;
        height: 205px;
        width: 123px;
        border-radius: 555px 0px 0px 555px;
      }
    }

    .banner__text_block {
      position: relative;
      z-index: 2;
      display: block;
      box-sizing: border-box;
      height: 100%;
      max-width: 874px;
      padding: 67px 203px 67px 135px;
      border-radius: 0px 255px 255px 0px;
      background-color: $brightLightMain;

      @media screen and (max-width: 1620px) {
        max-width: 618px;
        padding: 40px 144px 60px 96px;
      }

      @media screen and (max-width: 1000px) {
        width: 100%;
        max-width: none;
        padding: 30px 15px 65px 141px;
        border-radius: 0;
      }
    }
  }

  &__item1 {
    .banner__bg {
      position: absolute;
      top: 0;
      right: -49px;
      z-index: 1;
      height: 100%;
      width: 80%;
      max-width: 999px;
      object-fit: cover;
      transform: matrix(-1, 0, 0, 1, 0, 0);

      @media screen and (max-width: 1620px) {
        width: 70%;
      }

      @media screen and (max-width: 1000px) {
        object-position: 25%;
        top: 32px;
        right: auto;
        left: 0;
        z-index: 2;
        height: 205px;
        width: 123px;
        border-radius: 555px 0px 0px 555px;
      }
    }

    .banner__text_block {
      position: relative;
      z-index: 2;
      display: block;
      box-sizing: border-box;
      height: 100%;
      max-width: 874px;
      padding: 67px 203px 67px 135px;
      border-radius: 0px 255px 255px 0px;
      background-color: $brightLightMain;

      @media screen and (max-width: 1620px) {
        max-width: 618px;
        padding: 40px 144px 60px 96px;
      }

      @media screen and (max-width: 1000px) {
        width: 100%;
        max-width: none;
        padding: 30px 15px 65px 141px;
        border-radius: 0;
      }
    }
  }

  &__item2 {
    background-color: $brightLightMain;
    &:before {
      content: '';
      position: absolute;
      z-index: 2;
      display: block;
      top: 0;
      right: 0;
      height: 100%;
      width: 80%;
      background: #f8f8f8;
      filter: blur(250px);
    }
    .banner__bg {
      position: absolute;
      top: 0;
      right: -130px;
      z-index: 3;
      height: 100%;
      width: 80%;
      max-width: 999px;
      object-fit: cover;
      object-position: top;
      mix-blend-mode: darken;
      transform: matrix(-1, 0, 0, 1, 0, 0);

      @media screen and (max-width: 1620px) {
        width: 90%;
      }

      @media screen and (max-width: 1200px) {
        top: auto;
        right: -20%;
        bottom: -20%;
        z-index: 2;
        height: 100%;
        width: 450px;
        object-fit: contain;
      }

      @media screen and (max-width: 450px) {
        right: -40%;
        bottom: -40%;
      }
    }

    .banner__text_block {
      position: relative;
      z-index: 4;
      display: block;
      box-sizing: border-box;
      height: 100%;
      max-width: 874px;
      padding: 67px 203px 67px 135px;
      border-radius: 0px 255px 255px 0px;

      @media screen and (max-width: 1620px) {
        max-width: 618px;
        padding: 40px 144px 60px 96px;
      }

      @media screen and (max-width: 1000px) {
        width: 100%;
        max-width: none;
        padding: 30px 15px 0;
        border-radius: 0;

        .banner__heading,
        .banner__description,
        .banner__description--bold {
          text-align: center;
          display: block;
        }
      }
    }
  }

  &__item3 {
    background-color: #f2f2f7;

    &:before {
      content: '';
      position: absolute;
      z-index: 2;
      display: block;
      top: 0;
      right: 0;
      height: 100%;
      width: 80%;
      background: #f8f8f8;
      filter: blur(250px);

      @media screen and (max-width: 1200px) {
        display: none;
      }
    }

    .banner__icon {
      position: absolute;
      top: 50%;
      right: 15%;
      z-index: 4;
      height: 131px;
      width: 131px;
      margin-top: -65px;

      @media screen and (max-width: 1620px) {
        height: 96px;
        width: 96px;
        margin-top: -48px;
      }

      @media screen and (max-width: 1200px) {
        display: none;
      }
    }

    .banner__bg {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 3;
      height: 100%;
      width: 70%;
      max-width: 827px;
      object-fit: cover;

      @media screen and (max-width: 1620px) {
        width: 60%;
      }

      @media screen and (max-width: 1200px) {
        right: -15%;
        top: 40%;
        width: 486px;
      }
    }

    .banner__text_block {
      position: relative;
      z-index: 4;
      display: block;
      box-sizing: border-box;
      height: 100%;
      max-width: 874px;
      padding: 67px 203px 67px 135px;
      border-radius: 0px 255px 255px 0px;

      @media screen and (max-width: 1620px) {
        max-width: 618px;
        padding: 40px 144px 60px 96px;
      }

      @media screen and (max-width: 1000px) {
        width: 100%;
        max-width: none;
        padding: 30px 15px 0;
        border-radius: 0;

        .banner__heading,
        .banner__description,
        .banner__description--bold {
          text-align: center;
          display: block;
        }
      }
    }
  }

  &__heading {
    display: block;
    margin-bottom: 35px;
    font-family: $bold;
    font-size: $extraBigText2;
    color: $darkMainColor;

    @media screen and (max-width: 1620px) {
      margin-bottom: 20px;
      font-size: $extraBigText;
    }

    @media screen and (max-width: 1000px) {
      margin-bottom: 10px;
      font-size: $smallBigText;
    }
  }

  &__description {
    font-family: $light;
    font-size: $bigText;
    line-height: 160%;
    color: $darkMainColor;

    &--bold {
      font-family: $medium;
    }
    @media screen and (max-width: 1620px) {
      font-size: $normalText2;
    }

    @media screen and (max-width: 1000px) {
      font-size: $smallText;
    }
  }

  &__tools {
    position: absolute;
    bottom: 67px;
    left: 0;
    display: flex;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: center;
    padding-left: 135px;

    @media screen and (max-width: 1620px) {
      bottom: 50px;
      padding-left: 96px;
    }

    @media screen and (max-width: 1000px) {
      bottom: 35px;
      width: 100%;
      padding: 0;
    }
  }

  &__arrow {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 64px;
    margin: 0;
    padding: 0;
    color: transparent;
    border: 1px solid $darkMainColor2;
    border-radius: 50%;
    cursor: pointer;

    @media screen and (max-width: 1620px) {
      height: 44px;
      width: 44px;

      svg {
        width: 6px;
      }
    }

    @media screen and (max-width: 1100px) {
      & {
        display: none !important;
      }
    }

    svg {
      display: block;

      path {
        stroke: $darkMainColor2;
      }
    }

    &--next {
      margin-left: 3px;

      svg {
        transform: rotate(180deg);
      }
    }

    &:hover {
      background-color: $darkMainColor;
      border-color: $darkMainColor;

      svg {
        path {
          stroke: $arrowHover;
        }
      }
    }
  }

  &__dots {
    list-style: none;
    margin-left: 72px;

    @media screen and (max-width: 1000px) {
      width: 100%;
      margin: 0;
    }

    .slick-dots {
      list-style: none;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      @media screen and (max-width: 1000px) {
        justify-content: center;
      }

      li {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-right: 5px;

        &:before {
          content: '';
          position: absolute;
          display: block;
          box-sizing: border-box;
          width: 10px;
          height: 10px;
          background-color: transparent;
          border: 1px solid $darkMain;
          border-radius: 50%;
        }

        &.slick-active {
          &:before {
            background-color: $darkMain;
          }
        }

        svg {
          display: block;
          width: 30px;
          height: 30px;
        }
      }
    }
  }

  &__svg__circle {
    transform-origin: center;
    transform: rotate(-90deg);
    stroke-dasharray: 81.6814, 81.6814;
    stroke-dashoffset: 81.6814px;
  }
}

.categories_catalog {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  margin-top: 90px;
  margin-bottom: -60px;

  @media screen and (max-width: 1620px) {
    margin-top: 60px;
  }

  @media screen and (max-width: 1100px) {
    justify-content: space-between;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 0;
  }

  &__item {
    position: relative;
    width: 32%;
    max-width: 400px;
    margin: 0 auto 60px;

    &--disabled {
      display: none;
    }

    @media screen and (max-width: 1620px) {
      width: 30%;
      max-width: 283px;
    }

    @media screen and (max-width: 1100px) {
      width: 100%;
      max-width: none;
      margin: 0 0 20px;
    }

    @media screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
    }

    &:nth-child(3n + 1) {
      margin-left: 0;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  &__img {
    display: block;
    height: 228px;
    width: 100%;

    @media screen and (max-width: 1620px) {
      height: auto;
    }

    @media screen and (max-width: 768px) {
      display: none;

      &.categories_catalog__img--active {
        display: block;
      }
    }

    img {
      display: block;
      height: 100%;
      width: 100%;
      object-fit: contain;

      @media screen and (max-width: 768px) {
        display: block;
        height: auto;
        width: 100%;
        margin: 0 auto;
      }
    }
  }

  &__name {
    display: block;
    margin: 55px auto 40px;
    font-family: $bold;
    font-size: $bigText2;
    text-decoration: none;
    color: $darkMainColor;

    @media screen and (max-width: 1620px) {
      margin: 40px auto 25px;
      font-size: $normalText2;
    }

    @media screen and (max-width: 768px) {
      position: relative;
      order: -1;
      width: 100%;
      margin: 0;
      font-size: $smallText;

      &.categories_catalog__name--active {
        margin-bottom: 25px;
        font-size: $smallText2;

        &:after {
          transform: rotate(180deg);
        }
      }

      &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        display: block;
        height: 10px;
        width: 10px;
        margin-top: -5px;
        background: center / auto url(../img/fixArrow.svg) no-repeat;
      }
    }
  }

  &__nodes {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    box-sizing: border-box;
    width: calc(100% + 40px);
    padding-bottom: 0;
    margin: 0 -20px;
    list-style: none;
    background-color: $lightMain;

    @media screen and (max-width: 768px) {
      position: relative;
      width: 100%;
      margin: 0;
    }

    &_wrapper {
      position: relative;
      display: block;
      min-height: 118px;

      @media screen and (max-width: 768px) {
        display: none;
        min-height: 1px;
        width: 100%;
        margin-top: 25px;

        &.categories_catalog__nodes_wrapper--active {
          display: block;
          padding-bottom: 30px;
          border-bottom: 1px solid $darkMain;
        }
      }

      &.active {
        .categories_catalog__nodes {
          padding-bottom: 50px;

          li:nth-child(n + 4) {
            display: block;
          }
        }
      }
    }

    li + li {
      margin-top: 2px;

      @media screen and (max-width: 768px) {
        margin-top: 15px;
      }
    }

    li:nth-child(n + 4) {
      display: none;

      @media screen and (max-width: 768px) {
        display: block;
      }
    }
  }

  &__link {
    display: block;
    padding: 10px 20px;
    font-family: $medium;
    font-size: $smallText2;

    @media screen and (max-width: 1620px) {
      font-size: $smallText;
    }

    @media screen and (max-width: 768px) {
      width: 100%;
      padding: 0;

      &:after {
        height: 5px;
        width: 5px;
        background: center / auto url(../img/arrow.svg) no-repeat;
        transform: rotate(-90deg);
      }
    }
  }

  &__more_btn {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    height: 63px;
    width: 63px;
    margin: 40px auto 0;
    border-radius: 50%;
    border: 1px solid $darkMain;
    cursor: pointer;

    @media screen and (max-width: 1620px) {
      height: 43px;
      width: 43px;
      margin: 30px auto 0;

      svg {
        width: 8px;
      }
    }

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &__more_categories_btn {
    position: relative;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    height: 133px;
    width: 133px;
    margin: 70px auto 0;
    font-family: $semiBold;
    font-size: $normalText;
    text-decoration: none;
    color: $darkMain;
    background-color: $brightLightMain;
    border-radius: 50%;
    border: 2px solid $brightLightMain;
    cursor: pointer;
    transition: 0.5s;

    @media screen and (max-width: 1620px) {
      font-size: $smallText;
    }

    &:hover {
      background-color: transparent;
      border-color: $darkMain;
    }

    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}

.brends {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 260px;
  margin-bottom: 150px;

  @media screen and (max-width: 1100px) {
    margin-top: 88px;
  }

  @media screen and (max-width: 768px) {
    display: block;
    margin-bottom: 10px;

    &--active {
      .brends__catalog__item:nth-child(n + 5) {
        display: block;
      }
    }
  }

  &_btn--mobile {
    display: none;

    @media screen and (max-width: 768px) {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 93px;
      width: 93px;
      margin: 0 auto 85px;
      font-family: $semiBold;
      font-size: $smallText;
      color: $darkMain;
      text-decoration: none;
      background-color: $brightLightMain;
      border-radius: 50%;

      &--active {
        display: none;
      }
    }
  }

  &__side {
    max-width: 335px;
    margin-right: 7%;

    @media screen and (max-width: 1100px) {
      margin-right: 3%;
      max-width: none;
    }

    @media screen and (max-width: 768px) {
      text-align: center;
      margin: 0 0 40px;
    }
  }

  &__tools {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @media screen and (max-width: 1100px) {
      display: none;
    }
  }

  &__heading {
    display: block;
    margin-bottom: 49px;
    font-family: $bold;
    font-size: $extraBigText2;
    line-height: $extraBigText2;
    color: $darkMain;

    @media screen and (max-width: 1100px) {
      margin-bottom: 40px;
      font-size: $bigText4;
    }

    @media screen and (max-width: 768px) {
      margin-bottom: 0;
    }
  }

  &__catalog {
    width: calc(100% - 308px - 9%);
    will-change: auto;

    * {
      will-change: auto;
    }

    @media screen and (max-width: 1100px) {
      width: calc(100% - 98px - 3%);
    }

    @media screen and (max-width: 768px) {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      flex-wrap: wrap;
      width: 100%;
    }

    &__item {
      @media screen and (max-width: 768px) {
        width: calc(50% - 9px);
        margin-bottom: 30px;

        &:nth-child(n + 5) {
          display: none;
        }
      }
    }

    &__content {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      height: 60px;
      padding: 0 20px;
      margin-bottom: 25px;

      img {
        display: block;
        max-height: 30px;
        max-width: 80%;
        width: auto;
        margin: auto 0;
      }

      @media screen and (max-width: 768px) {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 80px;
        padding: 0;
        border: 1px solid $darkMain;

        img {
          display: block;
          max-height: 30px;
          width: auto;
        }
      }

      &__line {
        width: 100%;
        padding-top: 46px;
        margin-top: auto;
        margin-bottom: 0;
        border-bottom: 1px solid $darkMain;

        @media screen and (max-width: 1620px) {
          padding-top: 30px;
          margin-bottom: 0;
        }

        @media screen and (max-width: 768px) {
          display: none;
        }
      }
    }

    &__link {
      display: block;
      padding: 8px 20px;
      font-family: $semiBold;
      font-size: $smallBigText;
      color: $darkMain;

      @media screen and (max-width: 1620px) {
        font-size: $normalText;
      }

      @media screen and (max-width: 768px) {
        padding: 0;
        margin-top: 15px;
        font-size: $smallText;
      }

      &:after {
        right: 20px;

        @media screen and (max-width: 768px) {
          top: 50%;
          right: 0;
          margin-top: -5px;
          background: center / auto url(../img/arrow.svg) no-repeat;
          transform: rotate(-90deg);
        }
      }
    }
  }

  &__tools {
    .banner__arrow {
      border-color: $darkMain;

      svg {
        path {
          stroke: $darkMain;
        }
      }

      &:hover {
        background-color: $darkMain;

        svg {
          path {
            stroke: $lightMain;
          }
        }
      }
    }
  }
}

.sibscribe {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;

  @media screen and (max-width: 768px) {
    display: block;
  }

  &__form,
  &__imgWrapper {
    width: 50%;

    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }

  &__image {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__form {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 150px 254px 150px 206px;
    background-color: $dark30;

    @media screen and (max-width: 1620px) {
      padding: 8.7% 12.6%;
    }

    @media screen and (max-width: 1100px) {
      padding: 50px 15px 60px;
    }
  }

  &__heading {
    display: block;
    margin-bottom: 40px;
    font-family: $bold;
    font-size: $extraBigText;
    color: $lightMain;

    @media screen and (max-width: 1620px) {
      margin-bottom: 30px;
      font-size: $extraBigText3;
    }

    @media screen and (max-width: 768px) {
      margin-bottom: 20px;
      font-size: $bigText4;
    }
  }

  &__mail {
    display: block;
    width: 100%;
    padding: 0;
    padding-bottom: 24px;
    margin: 0;
    font-family: $bold;
    font-size: $normalText2;
    color: $lightMain;
    background: transparent;
    border: none;
    border-bottom: 1px solid $lightMain;

    @media screen and (max-width: 768px) {
      padding-bottom: 18px;
      font-size: $smallText;
    }

    &::placeholder {
      font-family: $medium;
      font-size: $normalText2;
      color: $lightMain;

      @media screen and (max-width: 768px) {
        font-size: $smallText;
      }
    }

    &:focus {
      border-width: 2px;
    }
  }

  &__submit {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    padding: 0 67px;
    margin: 40px 0 0;
    font-family: $bold;
    font-size: $normalText2;
    color: $darkMain;
    background-color: $lightMain;
    border: none;
    cursor: pointer;
    transition: 0.5s;

    @media screen and (max-width: 1620px) {
      height: 60px;
      padding: 0 48px;
      margin: 30px 0 0;
      font-size: $normalText;
    }

    @media screen and (max-width: 768px) {
      height: 50px;
      padding: 0 28px;
      font-size: $smallText;
    }

    &:not(.sibscribe__submit--login):hover {
      color: $lightMain;
      background-color: transparent;
      border: 2px solid $lightMain;

      svg {
        path {
          fill: $lightMain;
        }
      }
    }

    &--login {
      color: $lightMain;
      background-color: transparent;
      border: 1px solid $lightMain;

      svg {
        path {
          stroke: $lightMain;
        }
      }
    }
  }
}
