.ordering {
  &__heading {
    display: block;
    text-align: center;
    font-family: $bold;
    font-size: $GreatText;
    color: $darkMain;

    @media screen and (max-width: 1620px) {
      font-size: $extraBigText2;
    }

    @media screen and (max-width: 768px) {
      font-size: $extraBigText3;
    }
  }

  &__block {
    margin-top: 120px;

    @media screen and (max-width: 1620px) {
      margin-top: 80px;
    }

    @media screen and (max-width: 768px) {
      margin-top: 50px;
    }

    &__heading {
      text-align: center;
      display: block;
      box-sizing: border-box;
      padding-bottom: 60px;
      margin-bottom: 70px;
      font-family: $bold;
      font-size: $extraBigText;
      border-bottom: 1px solid $darkMain;

      @media screen and (max-width: 1620px) {
        padding-bottom: 40px;
        margin-bottom: 60px;
        font-size: $extraBigText3;
      }

      @media screen and (max-width: 768px) {
        padding-bottom: 35px;
        margin-bottom: 35px;
        font-size: $smallBigText;
      }
    }

    &__content {
      width: calc(100% - 20px);
      max-width: 1010px;
      margin: 0 auto;

      @media screen and (max-width: 1620px) {
        max-width: 714px;
      }
    }
  }

  &__form {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    width: 100%;
  }

  &__inputbox {
    position: relative;
    display: block;
    box-sizing: border-box;
    height: 50px;
    width: 100%;
    padding-bottom: 21px;
    border-bottom: 2px solid $darkMainColor;

    @media screen and (max-width: 768px) {
      height: 38px;
    }

    & + & {
      margin-top: 56px;

      @media screen and (max-width: 768px) {
        margin-top: 40px;
      }
    }

    &--50 {
      width: calc(50% - 36px);

      @media screen and (max-width: 1620px) {
        width: calc(50% - 26px);
      }

      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }

    &--40 {
      width: 40%;

      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }

    &--25 {
      width: calc(25% - 72px * 3 / 4);

      @media screen and (max-width: 1620px) {
        width: calc(25% - 54px * 3 / 4);
      }

      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }

    &--16 {
      width: 16%;

      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }

    &--placeholder {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      font-family: $medium;
      font-size: $smallBigText;
      color: $darkMainColor;
      transition: 0.5s;

      @media screen and (max-width: 1620px) {
        font-size: $normalText;
      }

      @media screen and (max-width: 768px) {
        font-size: $smallText;
      }
    }

    &--description {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      font-family: $light;
      font-size: $smallText2;
      color: $darkMainColor;
      transition: 0.5s;

      @media screen and (max-width: 1620px) {
        font-size: $smallText;
      }

      @media screen and (max-width: 768px) {
        font-size: $extraSmallText3;
      }
    }

    &--validated {
      position: absolute;
      top: 5px;
      right: 0;
      display: block;
      transition: 0.5s;
      opacity: 0;
    }

    &--input {
      display: block;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      padding: 0;
      padding-right: 20px;
      margin: 0;
      font-family: $medium;
      font-size: $smallBigText;
      color: $darkMainColor;
      border: none;
      background-color: transparent;

      &::placeholder {
        font-family: $medium;
        font-size: $smallBigText;
        color: $darkMainColor;

        @media screen and (max-width: 768px) {
          font-size: $smallText;
        }
      }

      @media screen and (max-width: 768px) {
        font-size: $smallText;
      }
    }

    &--comment {
      resize: none;

      &_wrapper {
        height: 187px;
        border-right: 2px solid #000531;

        @media screen and (max-width: 768px) {
          height: 150px;
        }
      }
    }

    &:hover {
      border-width: 3px;
    }
  }

  &__inputbox--active {
    .ordering__inputbox--placeholder {
      top: -18px;
      font-family: $medium;
      font-size: $extraSmallText2;
    }

    .ordering__inputbox--description {
      opacity: 0;
    }
  }

  &__inputbox--valid {
    .ordering__inputbox--validated:not(.ordering__inputbox--validated--error) {
      opacity: 1;
    }
  }

  &__inputbox--errorEmail {
    margin-bottom: 88px;

    .ordering__inputbox--validated--error {
      opacity: 1;
    }

    .ordering__inputbox--wrong {
      display: block;
    }
  }

  &__inputbox--wrong {
    position: absolute;
    bottom: -88px;
    left: 0;
    z-index: 2;
    text-align: center;
    display: none;
    width: 100%;
    padding: 25px 0;
    font-family: $medium;
    font-size: $smallText2;
    color: $darkMainColor;
    background-color: $error;

    svg {
      position: absolute;
      top: -6px;
      left: 50%;
      margin-left: -6px;
    }
  }

  &__block__func_heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 20px);
    max-width: 1010px;
    margin: 0 auto;
    font-family: $bold;
    font-size: $bigText4;
    color: $darkMainColor;
    cursor: pointer;

    &:after {
      content: '';
      display: block;
      box-sizing: border-box;
      height: 63px;
      width: 63px;
      background: center / auto url(../img/funcArrowOff.svg) no-repeat;
      border-radius: 50%;
      border: 1px solid $darkMain;
    }

    &:hover {
      &:after {
        background-image: url(../img/funcArrowOn.svg);
        border-width: 2px;
      }
    }

    &--active {
      &:after {
        background-image: url(../img/funcArrowOn.svg);
        background-color: $brightLightMain;
        border-color: $brightLightMain;
        border-width: 2px;
      }
    }

    @media screen and (max-width: 1620px) {
      max-width: 714px;
      font-size: $bigText;

      &:after {
        height: 44px;
        width: 44px;
        background-size: 8px 4px;
      }
    }

    @media screen and (max-width: 768px) {
      font-size: $normalText;
      &:after {
        height: 38px;
        width: 38px;
      }
    }
  }

  &__block__func_wrapper {
    & + & {
      margin-top: 20px;
    }
  }

  &__block__func_content {
    display: none;
    width: calc(100% - 20px);
    max-width: 1010px;
    padding-top: 50px;
    margin: 40px auto 0;
    border-top: 1px solid $darkMain;

    @media screen and (max-width: 1620px) {
      max-width: 714px;
    }

    &__search {
      width: 100%;
      max-width: 100%;
      padding-bottom: 50px;
      border-top: 1px solid $darkMain;
      border-bottom: 1px solid $darkMain;
    }
  }

  &__price {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;

    &_title {
      display: block;
      font-family: $medium;
      font-size: $normalText2;
      color: $darkMainColor;

      @media screen and (max-width: 768px) {
        font-size: $smallText2;
      }
    }

    &_pay {
      display: block;
      font-family: $bold;
      font-size: $bigText4;
      color: $darkMain;

      @media screen and (max-width: 768px) {
        font-size: $normalText2;
      }
    }
  }

  &__radio_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    cursor: pointer;

    &:hover {
      .ordering__radio_btn__b {
        background-color: rgba(204, 255, 252, 0.5);
      }
    }

    & + & {
      margin-top: 20px;
    }

    &__title {
      display: block;
      margin-bottom: 5px;
      font-family: $bold;
      font-size: $bigText3;
      color: $darkMainColor;

      @media screen and (max-width: 1620px) {
        margin-bottom: 2px;
        font-size: $smallBigText2;
      }

      @media screen and (max-width: 768px) {
        font-size: $smallText2;
      }
    }

    &__subtitle {
      display: block;
      font-family: $medium;
      font-size: $normalText;
      color: $darkMain;

      @media screen and (max-width: 1620px) {
        font-size: $smallText;
      }

      @media screen and (max-width: 768px) {
        font-size: $extraSmallText;
      }
    }

    &__input_wrapper {
      position: relative;
      width: 63px;
      height: 63px;

      @media screen and (max-width: 1620px) {
        height: 44px;
        width: 44px;
      }

      @media screen and (max-width: 768px) {
        height: 38px;
        width: 38px;
      }
    }

    &__input {
      display: none;

      &:checked + .ordering__radio_btn__b {
        background-color: $brightLightMain;
        border-color: $brightLightMain;

        &:before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          display: block;
          height: 16px;
          width: 16px;
          margin-top: -8px;
          margin-left: -8px;
          border-radius: 50%;
          background-color: $darkMain;

          @media screen and (max-width: 1620px) {
            height: 12px;
            width: 12px;
            margin-top: -6px;
            margin-left: -6px;
          }

          @media screen and (max-width: 768px) {
            height: 8px;
            width: 8px;
            margin-top: -4px;
            margin-left: -4px;
          }
        }
      }
    }

    &__b {
      position: relative;
      display: block;
      box-sizing: border-box;
      height: 63px;
      width: 63px;
      border: 1px solid $darkMain;
      border-radius: 50%;

      @media screen and (max-width: 1620px) {
        height: 44px;
        width: 44px;
      }

      @media screen and (max-width: 768px) {
        height: 38px;
        width: 38px;
      }
    }

    &:hover {
      .ordering__radio_btn__b {
        border-width: 2px;
      }
    }
  }

  &__block__order {
    box-sizing: border-box;
    padding-top: 90px;
    padding-bottom: 160px;
    border-top: 1px solid $darkMain;

    @media screen and (max-width: 768px) {
      padding-top: 35px;
      padding-bottom: 85px;
    }
  }

  &_bay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;

    @media screen and (max-width: 768px) {
      display: block;
      margin-top: 35px;
    }

    &__subtitle {
      display: block;
      margin-bottom: 5px;
      font-family: $medium;
      font-size: $normalText2;
      color: $darkMainColor;

      @media screen and (max-width: 1620px) {
        font-size: $normalText;
      }

      @media screen and (max-width: 768px) {
        text-align: center;
        font-size: $extraSmallText;
      }
    }

    &__title {
      display: block;
      font-family: $bold;
      font-size: $extraBigText3;
      color: $darkMain;

      @media screen and (max-width: 1620px) {
        font-size: $smallBigText2;
      }

      @media screen and (max-width: 768px) {
        text-align: center;
        font-size: $normalText2;
      }
    }

    .card_product__inbasket_btn {
      width: 70%;

      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }
  }

  &__conf {
    text-align: center;
    display: block;
    margin-top: 30px;
    font-family: $light;
    font-size: $normalText;
    color: $darkMainColor;

    @media screen and (max-width: 1620px) {
      padding: 0 60px;
      font-size: $smallText;
    }

    @media screen and (max-width: 768px) {
      padding: 0;
      font-size: $extraSmallText;
    }

    &:hover {
      .ordering__conf__link {
        font-family: $medium;
      }
    }
  }

  &__conf__link {
    font-family: $light;
    font-size: $normalText;
    color: $darkMainColor;

    @media screen and (max-width: 1620px) {
      font-size: $smallText;
    }

    @media screen and (max-width: 768px) {
      font-size: $extraSmallText;
    }
  }
}
