.snx {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: $brightLightMain;

  @media screen and (max-width: 900px) {
    box-sizing: border-box;
    width: 100%;
    padding: 50px 10px 60px;
  }

  &__page {
    padding-top: 102px;

    .main {
      padding-top: 0;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;

    @media screen and (max-width: 900px) {
      display: block;
    }
  }

  &__image {
    display: block;
    width: 50%;

    @media screen and (max-width: 900px) {
      width: 100%;
    }
  }

  &__subtitle {
    display: block;
    margin-bottom: 20px;
    font-family: $bold;
    font-size: $bigText4;
    color: $darkMain;

    @media screen and (max-width: 1620px) {
      font-size: $bigText;
    }

    @media screen and (max-width: 900px) {
      font-size: $normalText;
    }
  }

  &__title {
    display: block;
    box-sizing: border-box;
    text-align: center;
    padding: 0 12vw;
    margin-bottom: 30px;
    font-family: $bold;
    font-size: $GreatText;
    color: $darkMain;

    @media screen and (max-width: 1620px) {
      font-size: $extraBigText2;
    }

    @media screen and (max-width: 900px) {
      font-size: $extraBigText;
    }
  }

  &__description {
    display: block;
    margin-bottom: 50px;
    font-family: $medium;
    font-size: $smallBigText;
    color: $darkMain;

    @media screen and (max-width: 1620px) {
      margin-bottom: 40px;
      font-size: $normalText;
    }

    @media screen and (max-width: 900px) {
      margin-bottom: 30px;
      font-size: $smallText;
    }
  }

  &__btn {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    width: 98%;
    max-width: 435px;
    padding: 0 67px;
    font-family: $semiBold;
    font-size: $normalText2;
    text-decoration: none;
    color: $brightLightMain;
    background-color: $darkMain;
    transition: 0.5s;

    @media screen and (max-width: 1620px) {
      min-height: 62px;
      max-width: 355px;
      padding: 0 48px;
      font-size: $normalText;
    }

    @media screen and (max-width: 900px) {
      min-height: 50px;
      width: 100%;
      max-width: none;
      padding: 0 28px;
      font-size: $smallText;
    }

    &:hover {
      color: $darkMainColor;
      background-color: $brightLightMain;

      svg {
        path {
          fill: $darkMainColor;
        }
      }
    }
  }
}
